@import url(./__item/photo-grid__item.css);

.photo-grid {
  max-width: 1184px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  margin: 0 auto;
  padding-top: 102px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    width: calc(100% - 96px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    width: calc(100% - 48px);
    padding-top: 97px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 100%));
    grid-template-columns: repeat(auto-fit, minmax(min-content, 100%));
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 64px;
    grid-gap: 15px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-gap: 8px;
  }
}