.places {
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1024px ) {
  .places {
    max-width: 928px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 768px ) {
  .places {
    max-width: 720px;
    margin-top: 102px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
   .places{
     width: calc(100% - 32px);
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    margin-top: 64px;
  }
}