.places {
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    width: calc(100% - 96px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    width: calc(100% - 48px);
    padding-top: 102px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .places {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    padding-top: 64px;
  }
}