@font-face {
  font-family: 'Inter';
  src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Bold.woff2);
  font-weight: bold;
}

body {
  margin: 0;
}

.page {
  max-width: 1440px;
  min-height: 5000px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  box-sizing: border-box;
  background-color: #2A2C2F;
}

/*header-start*/
.header {
  max-width: 1184px;
  padding: 30px 128px 48px 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}

.header__logo {
  max-width: 177px;
  max-height: 52px;
}

.header__langs {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}

.header__lang-list:not(:last-of-type) {
  padding-right: 1.125rem;
}

.header__lang {
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 23px;
  font-weight: normal;
  opacity: 1;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.header__lang:hover {
  opacity: .3;
}

.header__lang_active {
  text-decoration: underline;
}

/*header end*/

/*lead start*/
.lead {
  max-width: 985px;
  color: white;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  max-width: 782px;
  font-size: 96px;
  line-height: 93px;
  font-weight: bold;
  padding-bottom: 48px;
  margin: 0;
}

.lead__subtitle {
  max-width: 583px;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  padding-bottom: 78px;
  margin: 0;
}

.lead__images {
  position: relative;
  max-width: 984px;
  max-height: 554px;
}

.lead__image {
  width: 100%;
}

.lead__image-map {
  position: absolute;
  top: 160px;
  left: 42px;
  width: 100%;
  height: 100%;
  max-width: 886px;
}

.lead__caption {
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  margin: 0;
  padding-top: 11px;
  align-self: flex-start;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/*lead end*/

/*intro start*/
.intro {
  width: 100%;
  max-width: 683px;
  color: white;
  padding-left: 228px;
  padding-top: 101px;
  /*margin: 80px 529px 0 228px;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro__title {
  font-size: 54px;
  line-height: 59px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 48px;
}

.intro__content-row {
  max-width: 683px;
  padding-bottom: 24px;
}

.intro__content-row-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}

.intro__text {
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
}

.intro__span-accent {
  font-weight: bold;

}

/*intro end*/

/*photo-grid start*/
.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  margin: 0 auto;
  /*align-items: center;*/
  /*justify-items: center;*/
  padding-top: 102px;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

/*photo-grid end*/

/*places start*/
.places {
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  margin-top: 92px;
}

.place {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  align-items: end;
  justify-content: start;
  grid-gap: 40px;
}

.place:not(:last-of-type) {
  padding-bottom: 72px;
}

.place__title {
  max-width: 457px;
  font-size: 72px;
  line-height: 65px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 60px;
}

.place__website {
  max-width: 484px;
  padding-bottom: 60px;
}

.place__url-heading {
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
}

.place__url {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  margin: 0;
  opacity: 1;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.place__url:hover {
  opacity: .3;
}

.place__image {
  width: 100%;
  max-width: 460px;
  box-sizing: border-box;
  align-self: start;
}

.place__paragrafs {
  align-self: start;
  max-width: 484px;
}

.place__paragraf {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
}

.place__paragraf:not(:last-of-type) {
  padding-bottom: 36px;
}

/*places end*/

/*video start*/
.video {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 102px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-title {
  max-width: 800px;
  color: white;
  font-size: 72px;
  line-height: 78px;
  font-weight: bold;
  margin: 0;
}

.content-subtitle {
  max-width: 640px;
  color: white;
  font-size: 24px;
  line-height: 35px;
  font-weight: normal;
  margin: 0;
  padding-top: 48px;
}

.video__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 72px;
}

.video__item {
  color: white;
  position: relative;
  text-align: left;
}

.video__item:hover .video__item-bg {
  opacity: 0.3;
}

.video__icon-play {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 2;
  width: 41px;
}

.video__duration {
  position: absolute;
  left: 30px;
  top: 165px;
  z-index: 2;
  font-size: 12px;
  line-height: 13px;
  font-weight: normal;
}

.video__title {
  padding-top: 12px;
  max-width: 322px;
  position: absolute;
  left: 30px;
  top: 189px;
  z-index: 2;
  font-size: 36px;
  line-height: 39px;
  font-weight: bold;
  margin: 0;
}

.video__subtitle {
  position: absolute;
  left: 30px;
  top: 280px;
  z-index: 2;
  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
}

.video__item-bg {
  opacity: 1;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  /*max-width: 583px;*/
  /*max-height: 323px;*/
  width: 100%;
  z-index: 1;
}

/*video end*/

/*comments start*/
.comments {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 102px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 72px;
}

.comments__comment {
  color: white;
  font-size: 14px;
  line-height: 24px;
  max-width: 382px;
  text-align: left;
}

.comments__comment:not(:last-of-type) {
  padding-right: 19px;
}

.comments__image {
  border-radius: 50%;
  width: 97px;
}

.comments__quote {
  padding-top: 42px;
  font-weight: normal;
  margin: 0;
}

.comments__author {
  padding-top: 14px;
  font-weight: bold;
  margin: 0;
}

/*comments end*/

/*cover start*/
.cover {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 102px;
  text-align: center;
  position: relative;
  color: white;
}

.cover:hover .cover__cover-bg {
  opacity: 0.3;
}

.cover__title {
  position: absolute;
  top: 274px;
  left: 39px;
  z-index: 2;
  font-size: 72px;
  line-height: 78px;
  font-weight: bold;
  width: 100%;
  max-width: 1095px;
  margin: 0;
  text-align: center;
}

.cover__subtitle {
  position: absolute;
  top: 477px;
  left: 401px;
  z-index: 2;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  margin: 0;
  max-width: 382px;
}

.cover__cover-bg {
  width: 100%;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

/*cover end*/

/*footer start*/
.footer {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.footer__list:not(:last-of-type) {
  padding-right: 18px;
}

.footer__link {
  text-decoration: none;
  font-size: 24px;
  line-height: 41px;
  font-weight: normal;
  color: white;
  opacity: 1;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.footer__link:hover {
  opacity: 0.3;
}

.footer__copyright {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: white;
  margin: 0;
}

/*footer end*/

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
@media screen and (max-width: 1280px ) {

  .header {
    padding: 30px 48px 48px 48px;
  }

  .intro {
    padding-left: 148px;
  }
  .photo-grid {
    padding-right: 48px;
    padding-left: 48px;

  }
}

@media screen and (max-width: 1024px ) {
  .lead {
    max-width: 928px;
  }

  .intro {
    max-width: 692px;
    padding-left: 48px;
  }
  .photo-grid {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px ) {

  .header {
    padding: 30px 24px 48px 24px;
  }

  .lead {
    max-width: 768px;
  }

  .lead__caption {
    padding-left: 16px;
  }

  .intro {
    max-width: 720px;
    padding-left: 24px;
  }
  .photo-grid {
    padding-top: 97px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen /*and (min-width: 320px)*/ and (max-width: 767px) {
  /*header start*/
  .header {
    padding: 16px 16px 48px 16px;
  }

  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }

  .header__lang {
    font-size: 18px;
    line-height: 17px;
  }

  /*header end*/
  /*lead start*/
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    padding-bottom: 8px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 23px;
    max-width: 288px;
    padding-bottom: 32px;
  }

  /*lead end*/
  .intro {
    max-width: calc(100% - 32px);
    padding-left: 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 32px;
  }

  .intro__content-row {
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 32px;
  }

  .intro__text {
    font-size: 12px;
    line-height: 19px;
  }
  .photo-grid {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 64px;
    grid-gap: 8px;
  }
  /*footer start*/
  .footer {
    display: block;
    padding-left: 16px;
  }

  .footer__navigation {
    padding-bottom: 48px;
  }

  .footer__links {
    display: block;
    padding: 0;
  }

  .footer__list:not(:last-of-type) {
    padding-bottom: 32px;
  }

  .footer__copyright {
    padding-bottom: 24px;
  }

  /*footer end*/
}

@media screen and (max-width: 375px) {
  .intro {
    max-width: 343px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
  }
  .photo-grid{
    grid-template-columns: repeat(auto-fit, minmax(min-content, 284px));
  }
}
