.header__lang {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 23px;
  font-weight: normal;
  opacity: 1;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.header__lang:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .header__lang {
    font-size: 18px;
    line-height: 17px;
  }
}