.lead__title {
  width: 100%;
  max-width: 782px;
  font-size: 96px;
  line-height: 93px;
  font-weight: 900;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}