.video__icon-play {
  z-index: 2;
  position: relative;
  width: 41px;
  padding-top: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 768px ) {
  .video__icon-play {
    padding-top: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .video__icon-play {
    padding-top: 16px;
    padding-left: 16px;
  }
}