@import url(./__content-row-text/intro__content-row-text.css);
@import url(./__span-accent/intro__span-accent.css);
@import url(./__text/intro__text.css);
@import url(./__text-list/intro__text-list.css);
@import url(./__title/intro__title.css);

.intro {
  width: 100%;
  max-width: 984px;
  color: #FFFFFF;
  margin: 0 auto;
  padding-top: 80px;
}
@media screen and (max-width: 1024px ) {
  .intro {
    /*max-width: 928px;*/
    max-width: calc(100% - 96px);
  }
}
@media screen and (max-width: 1023px ) {
  .intro {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: calc(100% - 32px);
    padding-top: 64px;
  }
}