.video__info {
  position: relative;
  z-index: 2;
  max-width: 322px;
  padding-left: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1024px ) {
  .video__info {
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 768px ) {
  .video__info {
    padding-left: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .video__info {
    padding-left: 16px;
    padding-bottom: 16px;
  }
}