.comments__quote {
  padding-top: 42px;
  font-weight: normal;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 768px ) {
  .comments__quote {
    padding-top: 24px;
    font-size: 16px;
    line-height: 23px;
  }
}