.cover__title {
  position: relative;
  z-index: 2;
  font-size: 72px;
  line-height: 78px;
  font-weight: 900;
  width: 100%;
  max-width: 1095px;
  margin: 0 auto;
  color: #FFFDFD;
  padding-top: 274px;
}

@media screen and (max-width: 1024px ) {
  .cover__title {
    max-width: 560px;
    padding-top: 211px;
  }
}

@media screen and (max-width: 768px ) {
  .cover__title {
    padding-top: 165px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 250px;
    padding-top: 104px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding-top: 64px;
  }
}