.intro__content-row-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  max-width: 683px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .intro__content-row-text {
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 32px;
  }
}