.intro__title {
  font-size: 54px;
  line-height: 59px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 32px;
  }
}